$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

header {
    display: flex;
    justify-content: center;

    img {
        width: 100px;
    }
}

.lieu {
    display: flex;
    justify-content: center;

    address{
        font-weight: bold;
    }
}

button{
    background: rgb(147, 86, 220);
    background: linear-gradient(360deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
    border-radius: 30px;
}

a{
    text-decoration: none;
}